---
import * as CONTENT from "../pages/content"
import AccordionLayout from "../layouts/AccordionLayout.astro"
import Card from "./Card.astro"
import Badge from "./Badge.astro"
import WorkCard from "./WorkCard.astro"
import MiniCardCollection from "./MiniCardCollection.astro"
import MiniBadge from "./MiniBadge.astro"
---

<ul class="shadow-box">
  <AccordionLayout title={"Una introducción sobre mi..."} icon={"ic:outline-badge"}>
    {CONTENT.ABOUT_ME.map((item: any) => {
        return <p>{item}</p><br/>
      })
    }
  </AccordionLayout>
  <AccordionLayout title={"Stack Tecnológico"} icon={"mdi:cog-clockwise"}>
    {CONTENT.TECH_STACK.map((item) => {
      return <div class="p-2">
        <h2 class="p-1 text-text/80 text-2xl">{item.title}</h2>
        <div class="flex">
          {item.content.map((subitem: string) => {
            return <Badge item={subitem}></Badge>
          })}
        </div>
      </div>
    })
    }
  </AccordionLayout>
    <AccordionLayout title={"Mi trabajo actual"} icon={"mdi:briefcase-check"}>
      {CONTENT.CURRENT_WORK.map((item: any) => {
          return <p>{item}</p><br/>
        })
      }
    </AccordionLayout>

    <AccordionLayout title={"Experiencia Laboral"} icon={"mdi:briefcase-clock"}>
      {
        CONTENT.FORMER_WORK.map((item) => {
          return (
            <WorkCard
              title={item.role}
              timeframe={`${item.from} - ${item.to}`}
              description={item.location}
              tags={item.skills}
              url={item.org_url}
              url_name={item.org}
              onlyOneCard="false"
              badges={item.badges}
            />
          );
        })
      }
    </AccordionLayout>

    <AccordionLayout title={"Formación"} icon={"mdi:education-outline"}>
      {
        CONTENT.education.map((item) => {
          return (
            <WorkCard
              title={item.course}
              timeframe={`${item.from} - ${item.to}`}
              description={item.location}
              tags={""}
              url={"#"}
              url_name={item.institute}
            />
          );
        })
      }
    </AccordionLayout>

    <AccordionLayout title={"Certificaciones"} icon={"mdi:certificate-outline"}>
      {
        CONTENT.certificates.map((item) => {
          return (
            <WorkCard
              title={item.title}
              timeframe={item.issued}
              description={item.org}
              tags={item.description}
              url={item.url}
              url_name={"Ver certificado"}
            />
          );
        })
      }
    </AccordionLayout>

    <AccordionLayout title={"Logros"} icon={"mdi:flag-checkered"}>
      {
        CONTENT.achievements.map((item) => {
          return (
            <WorkCard
              title={item.title}
              timeframe={item.year}
              description={item.decription}
              tags=""
              url="#"
              url_name=""
            />
          );
        })
      }
    </AccordionLayout>

    <AccordionLayout title={"Contacta conmigo"} icon={"mdi:human-greeting-proximity"}>
      <div class="flex">
        <MiniCardCollection collection={CONTENT.contact}></MiniCardCollection>
      </div>
    </AccordionLayout>
</ul>
