---
import MiniBadge from "./MiniBadge.astro";
const { title, timeframe, description, tags, url, url_name, onlyOneCard, badges } = Astro.props
const badgesList = (typeof badges == 'object') ? badges : new Array
const cardBorder = onlyOneCard === "true" ? '' : 'border-b-[1px]'
---
<div class=`flex w-full p-2 place-items-center border-dashed py-8 border-text/25 ${cardBorder}`>
    <div class="w-44 self-start justify-self-start">
        <p class="w-44 text-text/50 text-base">
            { timeframe }
        </p>
        <a href={url} target="_blank" class="w-40 text-base text-text/60 hover:text-text/80">
            {url_name}
        </a>
    </div>

    <div class="self-start justify-self-start text-left">
        <p class="text-lg text-text/80">{title}</p>
        <p class="text-sm text-text/70">{description}</p>
        <sub class="text-xs text-text/60">{tags}</sub>
        <div class="flex flex-wrap">
            {
                badgesList.map((badge:any) => {
                    return (<MiniBadge name={badge}></MiniBadge>)
                })    
            }
            
        </div>        
    </div>
</div>